.idea/*
.ipynb_checkpoints/*
*.ipynb
venv/*
*.pyc
*_flymake.py
aireadManager/static/bower_components/*
*~
aireadManager/static/js/*
envManager/*
aireadManager/static/coffee/*/*.js
aireadManager/static/coffee/*.js
*.egg-info/*
