<!DOCTYPE html>
<html>
<head>
    <link href="css/index.css" rel="stylesheet">
    <title>Manager</title>
</head>
<body ng-controller="mainCtl">
<div class="container">
    <div class="row">
        <div class="navbar navbar-default featured-nav navbar-collapse collapse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="index.html">Manager</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="/login/">登陆</a></li>
                <li><a ng-href="/login/">登陆</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 border" style="padding-left: 0;">
            <accordion close-others="oneAtATime">
                <accordion-group ng-repeat="name in navHeaderList" heading="{{ name }}" is-open="True">
                    <ul class="f-nav-list">
                        <li ng-repeat="(name, item) in treeDef[name]">
                            <a ng-href="#/{{ item.url }}">{{ item.name }}</a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
        <div ng-view class="col-md-10"></div>
    </div>
</div>

<script src="lib/require.js"></script>
<script src="js/main.js"></script>
</body>
</html>