<!DOCTYPE html>
<html>
<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/common/index.css" rel="stylesheet">
    <title>Manager</title>
</head>
<body ng-controller="MainCtl">
<header id="header">
    <div class="container">
        <div class="row">
            <h1><a href="index.html">Manager</a></h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-2 border">
            <accordion close-others="oneAtATime">
                <accordion-group ng-repeat="name in navHeaderList" heading="{{ name }}" is-open="True">
                    <ul class="f-nav-list">
                        <li ng-repeat="(name, url) in treeDef[name]">
                            <a>{{ name }}</a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
        <div ng-view class="col-md-10"></div>
    </div>
</div>

<script src="lib/require.js" data-main="js/main"></script>
</body>
</html>